<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
	<listeners>
		<listener class-name="com.testnepal.listeners.ListenersClass" />
		<listener class-name="com.testnepal.listeners.MethodInterceptor" />
		<listener class-name="com.testnepal.listeners.AnnotationTransformer" />
	</listeners>

	<test thread-count="1" name="Test" parallel="methods">
		<classes>
			<class name="com.testnepal.tests.OrangeHRMTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->